# Build output
dist
.output
.wxt

# Dependencies
node_modules

# Logs
logs
*.log

# Caches
.cache
.temp

# Editor config
.vscode
!.vscode/extensions.json
.idea

# System files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Stats
stats.html
stats-*.json

# Lockfiles
pnpm-lock.yaml
